.navbar-dark {
    background-color: cadetblue;
}

.nav-link {
    text-decoration: none;
}

.post-item .comment-item {
    padding-left: 20px;
    padding-right: 20px;
}

.submit-form {
    padding: 20px;
}

.post-container {
    padding: 20px
}

.span-option {
    cursor: pointer;
    color: grey;
}

.span-divider {
    color: grey;
}

.span-option:hover {
    text-decoration: underline;
}

.post-title {
    cursor: pointer;
}